.coursesSwiper_container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;

  .courseSwiper {
    width: 40%;

    .swiper-slide {
      img {
        width: 100%;
      }
    }
  }
}

.BlogSwiper_container {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;

  .blogSwiper {
    width: 40%;
    align-items: center;
  }
}

.TestoSwiper_container {
  width: 40%;
  display: flex;
  margin: 0;
  padding: 0;

  .testoSwiper {
    width: 100%;
    height: auto;
    .swiper-slide {
      .swipeTestCard {
        padding: 1.5rem;
        // border: 1px solid #daa520;
        border-radius: 1rem;
        background: #1b1c1e;
        .img_name {
          display: flex;
          flex-direction: row;
          align-items: center;
          img {
            width: 70px;
            height: 70px;
            border-radius: 50%;
            margin: 1rem;
          }
          p {
            margin: 1rem;
            font-size: 24px;
            font-weight: bold;
          }
        }
        .SwiperPara {
          height: 200px;
          // white-space: nowrap;
          overflow: hidden;
          // text-overflow: ellipsis;
          margin-bottom: 2rem;
        }
      }
    }
  }
}

@media (max-width: 900px) {
  .TestoSwiper_container {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .TestoSwiper_container {
    width: 100%;
  }
}
