@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
body {
  font-family: 'Montserrat', sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
li {
  list-style: none;
}
label {
  color: #fff;
}
p {
  color: inherit;
}
input {
  outline: none;
  padding: 0.6rem 0.8rem;
}

@media (max-width: 1400px) {
  * {
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
  }
}
@media (max-width: 1200px) {
  * {
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
  }
}
@media (max-width: 1000px) {
  * {
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
  }
}
@media (max-width: 800px) {
  * {
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
  }
}
@media (max-width: 600px) {
  * {
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
  }
}
@media (max-width: 4800px) {
  * {
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
  }
}
