// Extra large screens, TV          –> 1201px, and more
$extra_large: 1201px;
// Desktops, large screens          –> 1025px — 1200px
$large: 1200px;
// Small screens, laptops           –> 769px — 1024px
$small: 1024px;
// iPads, Tablets                   –> 481px — 768px
$tablets: 768px;
// Mobile devices                   –> 320px — 480px
$mobile: 480px;

// ---------- ---------- ----------

$cinzel: "Cinzel", serif;
$Varela_round: "Varela Round", sans-serif;

// ---------- ---------- ----------

// Extra large screens, TV          –> 1201px, and more

.coursesCard_container {
  width: 100%;
  display: flex;
  background-color: #0e0e0f;
  border-radius: 50px;
  padding: 20px;

  .col_1 {
    width: 100%;
    display: flex;

    video {
      width: 100%;
      border-radius: 50px 0 0 50px;
    }
  }
  .col_2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    // border: 1px solid red;

    .detail {
      margin-left: 50px;
      font-size: 20px;
      line-height: 30px;
    }

    .syllabus {
      // margin-top: 20px;
      margin-left: 65px;
      line-height: 25px;
      font-size: 15px;
    }

    .sub_btn{
      width: 100%;
      height: 100%;
      // padding-top: 10px;
      margin-left: 50px;
      display: flex;
      align-items: end;
      // border: 1px solid white;


      button{
        cursor: pointer;
        padding: 10px 20px;
        font-size: 20px;
        line-height: 20px;
        border-radius: 5px;
        color: #daa520;
        border: 2px solid #daa520;
      }
    }
  }
}

// ---------- ---------- ----------

// Desktops, large screens          –> 1025px — 1200px

@media (max-width: $large) {
  .coursesCard_container {
    padding: 10px;
    .col_1 {
      video {
        border-radius: 50px 0 0 50px;
      }
    }
    .col_2 {
      .detail {
        margin-left: 50px;
        font-size: 18px;
        line-height: 30px;
      }

      .syllabus {
        margin-top: 10px;
        margin-left: 65px;
        line-height: 20px;
        font-size: 15px;
      }
    }
  }
}

// ---------- ---------- ----------

// Small screens, laptops           –> 769px — 1024px

@media (max-width: $small) {
  .coursesCard_container {
    padding: 15px;
    flex-direction: column;
    gap: 10px;

    .col_1 {
      video {
        border-radius: 50px 50px 0 0;
      }
    }
    .col_2 {
      .detail {
        margin-left: 50px;
        font-size: 18px;
        line-height: 30px;
      }

      .syllabus {
        margin-top: 10px;
        margin-left: 65px;
        line-height: 20px;
        font-size: 15px;
      }
    }
  }
}

// ---------- ---------- ----------

// iPads, Tablets                   –> 481px — 768px

@media (max-width: $tablets) {
  .coursesCard_container {
    flex-direction: column;
    padding: 20px;
    border-radius: 30px;

    .col_1 {
      padding: 0;

      video {
        border-radius: 20px 20px 0 0;
      }
    }
  }
}
// ---------- ---------- ----------

// Mobile devices                   –> 320px — 480px

@media (max-width: $mobile) {
  .coursesCard_container {
    gap: 20px;
    .col_2 {
      gap: 20px;
      .detail {
        text-align: center;
        margin-left: 0;
        font-size: 18px;
        line-height: 30px;
      }

      .syllabus {
        margin-top: 10px;
        margin-left: 20px;
        line-height: 20px;
        font-size: 15px;
      }
      
    }
  }
}
