// Desktops, large screens          –> 1025px — 1200px
$large: 1200px;
// Small screens, laptops           –> 769px — 1024px
$small: 1024px;
// iPads, Tablets                   –> 481px — 768px
$tablets: 768px;
// Mobile devices                   –> 320px — 480px
$mobile: 480px;

// ---------- ---------- ----------

$Cinzel: "Cinzel", serif;
$VarelaRound: "Varela Round", sans-serif;
$NexusGold: #daa520;
$FontSizeNormalText: 1rem;

// ---------- ---------- ----------

.Mttcard {
  display: flex;
  align-items: center;
  justify-content: center;
  // width: auto;
  // height: auto;
  margin: 0;
  
  .MttImg {
    width: 50%;
    // height: 100%;
    // border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
      width: 100%;
    }
  }
  
  .MttInfo {
    // border: 1px solid red;
    width: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    padding: 0 3rem;

    h3 {
      font-size: 50px;
      color: #daa520;
      letter-spacing: 10px;
      text-align: center;
      
      .small_text {
        font-size: 35px;
        letter-spacing: 10px;
      }
    }
    .subTitle {
      font-size: 1.5rem;
      letter-spacing: 10px;
    }
    .text {
      font-size: 1.1rem;
      line-height: 1.5rem;
      // letter-spacing: 2px;
      text-align: justify;
      // width: 80%;
    }
    .icon_grp {
      margin-bottom: 1rem;
      
      a {
        margin: 0 10px;
        img{
          width: 2rem;;
        }
      }
    }
  }
}

// ---------- ---------- ----------

// Desktops, large screens          –> 1025px — 1200px
@media (max-width: $large){
  .Mttcard{
    .MttInfo{
      padding: 0 1rem;

      h3{
        font-size: 40px;
        .small_text{
          font-size: 30px;
        }
      }
      .text{
        font-size: 1rem;
      }
    }
  }
}

// ---------- ---------- ----------

// Small screens, laptops           –> 769px — 1024px


// ---------- ---------- ----------

// iPads, Tablets                   –> 481px — 768px

@media (max-width: $tablets){
  .Mttcard{
    flex-direction: column;
    margin-top: 1rem;
    .MttImg{
      order: 1 !important;
    }
    .MttInfo{
      padding: 0 1rem;
      width: 100%;
      order: 2 !important;

      h3{
        font-size: 40px;
        .small_text{
          font-size: 30px;
        }
      }
      .text{
        width: 90%;
        font-size: 1rem;
      }
    }
  }
}

// ---------- ---------- ----------

// Mobile devices                   –> 320px — 480px


// ---------- ---------- ----------