.testimonial-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #daa520;
  height: auto;
  width: 400px;
  padding: 0.5rem;
  gap: 1rem;
  margin: 0.5rem;

  transition: all ease 0.5s;
}
.testimonial-card img {
  transition: all ease 0.5s;
}
.test-card-title {
  color: white;
}
.test-card-para {
  color: #8d8d8d;
}

@media (max-width: 1280px) {
  .testimonial-card {
    width: 300px;
    padding: 0.5rem;
    gap: 1rem;
    margin: 0.5rem;
  }
  .testimonial-card img {
    width: 280px;
  }
}
@media (max-width: 680px) {
  .testimonial-card {
    width: 350px;
    padding: 0.5rem;
    gap: 1rem;
    margin: 0.5rem;
  }
  .testimonial-card img {
    width: 330px;
    transition: all ease 0.5s;
  }
}
