$home_sample_img_2: '..//..//..//public//assets//images//home_sample_img_2.png';
$NexusGold: #daa520;

*{
  transition: none;
}

.login_container{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
  .login_div{
    width: 50%;
    background-color: black;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    // align-items: center;
    // width:500px;
    // height: 250px;

    .logo{
      // border: 1px solid white;
      width: 40%;
      display: flex;
      justify-content: center;
      align-items: center;
      
      img{
        width: 100%;
      }
    }
    
    .login_form{
      padding: 1rem;
      width: 50%;
      color: $NexusGold;
      // border: 1px solid white;

      h1{
        text-align: center;
      }

      form{
        // height: 100%;
        // border: 1px solid white;
        display: flex;
        flex-direction: column;
        text-align: left;
        align-items: start;
        justify-content: center;
        gap: 1rem;

       
        .txt_field{
          position: relative;
          border-bottom: 1px solid white;
          margin: 1rem 0;

          input{
            width: 100%;
            padding: 0 5px;
            height: 40px;
            font-size: 1rem;
            border: none;
            outline: none;
            color: white;

            &:focus, &:valid {
              ~ label {
                top: -5px;
              }
            }
          }

          label{
            position: absolute;
            top: 50%;
            left: 5px;
            
            transform: translateY(-50%);
            font-size: 1rem;
            pointer-events: none;
            transition: 0.5s;
          }

          // input {
          //   &:focus, &:valid {
          //     ~ label {
          //       top: -5px;
          //     }
          //   }
          // }
          
        }

        .ck_box{
          input{
            margin-left: 2rem;
          }
        }

        .center_div{
          // border: 1px solid white;
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          padding: 1rem;
          gap: 1rem;

          button{
            // margin-top: 3rem;
            padding: 0.5rem 1rem;
            background-color: #141416;
            color: $NexusGold;
            border: none;
            font-size: 1rem;
            border-radius: 5px;
            // margin: auto;
            
            &:hover{
              color: white;
            }
          }

          .signUp_text{
            border-bottom: 2px solid $NexusGold;
            &:hover{
              color: white;
            }
          }
        }
      }

    }
  }

}