.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #141416;
  color: #fff;
  padding: 0.8rem 2rem;
  width: 100%;
  height: 100px;
  transition: all ease-in-out 0.5s;
}
.nav .logo img {
  width: 70px;
}
.nav .navList {
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: all ease-in-out 0.5s;
}
.nav .navList li {
  color: #daa520;
  padding: 0.5rem;
  margin: 1rem 4rem;
}
.active {
  color: #fff;
}

.nav .btn-joinNow {
  color: #daa520;
  background: none;
  padding: 0.8rem 1.8rem;
  border: 2px solid #daa520;
  border-radius: 1rem;
  cursor: pointer;
  transition: all ease-in-out 0.5s;
}

.btn-toggle {
  display: none;
  fill: #fff;
  /* background: red; */
  color: white;
}

@media (max-width: 1400px) {
  .nav .navList li {
    color: #daa520;
    padding: 0.5rem;
    margin: 0.8rem 1.6rem;
  }
}
@media (max-width: 900px) {
  .nav {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.6rem 1.6rem;
  }
  .nav .logo > img {
    position: absolute;
    top: 1.5rem;
    left: 2rem;
    width: 50px;
  }
  .nav .navList {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: -26rem;
    left: 50%;
    transform: translate(-50%);
  }
  .nav .btn-joinNow {
    position: absolute;
    top: -27rem;
    left: 50%;
    transform: translate(-50%);
  }
  .nav .navList li {
    color: #daa520;
    padding: 0.5rem;
    margin: 1rem 1rem;
  }
  .btn-toggle {
    display: block;
    position: absolute;
    top: 2.5rem;
    right: 2rem;
    color: white;
  }
  .nav.expand {
    height: 100vh;
  }
  .nav.expand .logo > img {
    width: 50px;
    position: absolute;
    top: 1.5rem;
    left: 2rem;
  }
  .nav.expand .btn-toggle {
    position: absolute;
    top: 2.3rem;
    right: 2rem;
    color: white;
  }
  .nav.expand .navList {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    position: absolute;
    top: 3rem;
  }
  .nav.expand .btn-joinNow {
    position: absolute;
    top: 29rem;
  }
}
