.nav {
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  width: auto;
  height: 100px;
  text-decoration: none;
  font-size: 18px;

  .left {
    .logo {
      width: 70px;
    }
  }

  .right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    color: #fff;

    button {
      border: 2px solid #daa520;
      border-radius: 10px;
      padding: 10px;
      color: #daa520;
      font-size: 18px;
      background-color: transparent;
    }
  }

  .active {
    color: #daa520;
  }

  .btn_toggle {
    display: none;
    fill: #fff;
    /* background: red; */
    color: white;
  }
}

@media (max-width: 900px) {
  .nav {
    position: relative;
    .left {
      position: absolute;
      top: 25px;

      .logo {
        width: 50px;
      }
    }

    .right {
      display: none;
    }

    .btn_toggle {
      display: block;
      position: absolute;
      top: 35px;
      right: 50px;
      color: #daa520;
    }
  }

  .nav_expand {
    display: flex;
    align-items: center;
    max-width: 100%;
    width: auto;
    height: 350px;
    padding: 0 30px;
    background-color: #141416;
    color: #fff;
    position: relative;
    // transition: all ease-in-out 0.5s;

    .left {
      position: absolute;
      top: 25px;
      // transition-duration: 0s;
      // transition-property: none;
      // transition-timing-function: ease;
      // transition-delay: 0s;
      // top: 7%;

      .logo {
        width: 50px;
      }
    }

    .right {
      margin-top: 50px;
      margin-bottom: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100%;
      gap: 20px;

      button {
        border: 2px solid #daa520;
        border-radius: 5px;
        padding: 10px;
        color: #daa520;
        background-color: transparent;
      }
    }

    .active {
      color: #daa520;
    }

    .btn_toggle {
      display: block;
      position: absolute;
      top: 35px;
      right: 50px;
      color: #daa520;
    }
  }
}
