$h1_fs: 90px;
$h2_fs: 30px;
$normal_fs: 17px;
$medium_fs: 20px;

$cinzel: "Cinzel", serif;
$Varela_round: "Varela Round", sans-serif;

$home_sample_img_1: "..//..//..//public//assets//images//home_sample_img_1.png";
$home_sample_img_2: "..//..//..//public//assets//images//home_sample_img_2.png";
$home_sample_img_3: "..//..//..//public//assets//images//sample_image_4.png";

.container_home {
  color: white;

  .home_header {
    padding: 0;
    height: auto;

    .blurred_background {
      // $background-max-size: 200%;

      background-image: url($home_sample_img_1);
      background-position: center;
      background-size: cover;
      filter: blur(2px);
      width: 100%;
      height: 100vh;
    }

    .subDiv_1 {
      position: absolute;
      top: 100px;
      width: 100%;
      padding: 100px;
      z-index: 0;
      // background-color: transparent;

      h1 {
        font-size: $h1_fs;
        font-family: $cinzel;
        font-weight: normal;
      }

      h2 {
        font-size: $h2_fs;
      }

      p {
        line-height: 20px;
        font-size: $normal_fs;
      }

      .button {
        background-color: #daa520;
        border-radius: 10px;
        padding: 10px;
        font-weight: bold;
        font-size: $medium_fs;
      }

      * {
        margin-top: 20px;
        // background-color: transparent;
      }
    }

    .subDiv_2 {
      border: 3px solid rgb(138, 138, 138);
      border-radius: 1rem;
      margin: 2rem;
      display: flex;
      flex-wrap: wrap;
      background-color: #151516;
      // transform: translate(0, -50%);

      .col_1 {
        background-image: url($home_sample_img_2);
        background-position: center;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40%;
        padding: 20px;
        // border-right: 1px solid rgb(138, 138, 138);
        border-radius: 1rem;
        img {
          width: 80%;
          // background-color: transparent;
        }
      }

      .col_2 {
        width: 60%;
        border-left: 1px solid rgb(138, 138, 138);
        padding: 50px;

        display: grid;
        grid-template-columns: auto auto;
        column-gap: 20px;
        row-gap: 20px;
      }
    }
  }

  .home_courses {
    // border: 1px solid white;
    display: flex;
    padding: 50px;

    .col_1 {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      gap: 10px;
      .button {
        background-color: #141416;
        border: 5px solid #daa520;
        color: #daa520;
        padding: 10px;
        width: 100px;
        font-weight: bold;
      }
    }

    .col_2 {
      width: 100%;
      display: flex;
      overflow-x: hidden;
      justify-content: center;
    }
  }

  .demat {
    width: 100%;
    background-color: #daa520;
    display: flex;
    justify-content: center;
    // align-items: center;
    // gap:20px;
    padding: 50px;

    .content {
      background-color: #141416;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 20px;
      border-radius: 1rem;

      h1 {
        font-size: 2.5rem;
        font-weight: 800;
      }

      .button {
        margin: 30px 0 10px 0;
        background-color: #daa520;
        // padding: 10px;
        border-radius: 10px;
        color: white;
        padding: 0.8rem 2rem;
        font-size: 1rem;
        font-weight: bold;
      }

      .hr {
        width: 20px;
        border: 1px solid #636363;
      }
    }
  }

  .testi {
    border: 1px solid white;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .stats {
    background-image: url($home_sample_img_3);
    background-position: bottom;
    background-size: 100%;
    width: 100%;
    // height: 680px;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    gap: 3rem;

    .top {
      font-size: 30px;
    }

    .bottom {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      justify-content: space-around;
      gap: 1rem;

      h1 {
        color: #daa520;
        font-size: 80px;
      }

      p {
        font-size: 30px;
      }
    }
  }

  .home_visions {
    padding: 10px;
    // border: 1px solid white;
    display: flex;

    .col_1 {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      p {
        position: absolute;
        font-size: 30px;
        font-weight: bold;
        // width: 100%;
        text-align: center;
      }
    }

    .col_2 {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 30px;

      p {
        width: 60%;
        font-size: 18px;
      }

      button {
        // margin: 30px 0 10px 0;
        font-size: 18px;
        background-color: #daa520;
        padding: 10px;
        border-radius: 10px;
      }
    }
  }

  .home_blogs {
    border: 1px solid white;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .home_about {
    padding: 50px;
    // border: 1px solid white;
    display: flex;

    .col_1 {
      width: 50%;
      padding: 50px 50px 50px 100px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 30px;

      p {
        width: 70%;
        text-align: left;
      }

      button {
        // margin: 30px 0 10px 0;
        width: 250px;
        border: 5px solid #daa520;
        color: #daa520;
        font-size: 20px;
        padding: 10px;
        border-radius: 10px;

        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .col_2 {
      width: 50%;
      display: flex;
      justify-content: center;

      img {
        width: 70%;
      }
    }
  }
}

@media (max-width: 1200px) {
  .container_home {
    .home_header {
      .subDiv_1 h1 {
        font-size: 30px;
      }
      .subDiv_2 {
        flex-direction: column;
        .col_1 {
          width: 100%;
          margin: auto;
        }
        .col_2 {
          width: 100%;
          padding: 1rem;
          grid-template-columns: auto auto;
          place-content: center;
        }
      }
    }
  }
}

@media (max-width: 900px) {
  .blurred_background {
    background-position: center;
    background-size: cover;
    height: 900px;
  }
  .container_home {
    .home_header {
      .subDiv_1 h1 {
        font-size: 30px;
      }
      .subDiv_2 {
        flex-direction: column;
        .col_1 {
          width: 100%;
          margin: auto;
        }
        .col_2 {
          width: 100%;
          column-gap: 1rem;
        }
      }
    }
    .stats {
      .bottom {
        div[class*="col"] h1 {
          font-size: 40px;
        }

        div[class*="col"] p {
          font-size: 30px;
        }
      }
    }
  }

  .container_home {
    .home_about {
      flex-direction: column;
      align-items: center;
      .col_1 {
        order: 2;
        width: 100%;
        padding: 0;
        text-align: center;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        h1 {
          font-size: 24px;
          margin-top: 2rem;
        }
        h2 {
          font-size: 20px;
        }
        p {
          text-align: center;
          width: 100%;
        }
        button {
          width: 200px;
          font-size: 16px;
          padding: 1rem;
        }
      }
      .col_2 img {
        order: 1;
        width: 400px;
        height: 400px;
      }
    }
    .demat .content {
      h1 {
        font-size: 2rem;
      }
      .button {
        font-size: 1rem;
      }
    }
  }
}

@media (max-width: 768px) {
  .blurred_background {
    width: 70%;
    height: 50vh;
  }
  .container_home {
    .home_header {
      .subDiv_1 {
        top: 4rem;
        padding: 1.8rem;
        h1 {
          font-size: 20px;
        }
        h2 {
          font-size: 18px;
        }
      }
      .subDiv_2 {
        flex-direction: column;
        .col_1 {
          width: 100%;
          margin: auto;
        }
        .col_2 {
          width: 100%;
        }
      }
    }
    .stats {
      .top {
        font-size: 22px;
      }
      .bottom {
        div[class*="col"] h1 {
          font-size: 30px;
        }

        div[class*="col"] p {
          font-size: 20px;
        }
      }
    }
    .home_about {
      .col_1 {
        width: 100%;
        padding: 0;
        text-align: center;
        align-items: center;
        justify-content: center;
        h1 {
          font-size: 24px;
          margin-top: 2rem;
        }
        h2 {
          font-size: 20px;
        }
        p {
          text-align: center;
          width: 100%;
        }
        button {
          width: 200px;
          font-size: 16px;
          padding: 1rem;
        }
      }
    }
    .home_visions {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 0.5rem;
      .col_1 {
        padding: 2rem;
        width: 100%;
      }
      .col_2 {
        padding: 2rem;
        width: 100%;
        h1 {
          width: fit-content;
        }
        p {
          width: fit-content;
        }
      }
    }
    .home_courses {
      flex-direction: column;
      padding: 1rem;
      .col_1 {
        width: 100%;
        order: 2;
        h1 {
          margin-top: 1rem;
        }
        p {
          font-size: 14px;
          text-align: center;
        }
      }
      .col_2 {
        width: 100%;
        height: 200px;
        order: 1;
      }
    }
    .demat .content {
      h1 {
        font-size: 1.6rem;
      }
      .button {
        font-size: 0.8rem;
      }
    }
  }
}
@media (max-width: 480px) {
  .blurred_background {
    width: 70%;
  }
  .container_home {
    .stats {
      .top {
        font-size: 14px;
      }
      .bottom {
        flex-wrap: wrap;
        div[class*="col"] h1 {
          font-size: 25px;
        }

        div[class*="col"] p {
          font-size: 20px;
        }
      }
    }
    .home_header {
      .blurred_background {
        height: 80vh;
      }
      .subDiv_1 {
        top: 7rem;
        padding: 1.8rem;
        text-align: center;
        h1 {
          font-size: 45px;
        }
        h2 {
          font-size: 18px;
        }
      }

      .subDiv_2 {
        flex-direction: column;
        .col_1 {
          width: 100%;
          margin: auto;
          border-radius: 0.8rem;
        }
        .col_2 {
          width: 100%;
          grid-template-columns: 1fr;
          padding: 1rem;
        }
      }
    }
    .home_visions {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 0.5rem;
      .col_1 {
        padding: 2rem;
        width: 100%;
      }
      .col_2 {
        padding: 2rem;
        width: 100%;
        h1 {
          width: fit-content;
        }
        p {
          width: fit-content;
        }
      }
    }
    .home_about {
      .col_1 {
        width: 100%;
        padding: 0;
        text-align: center;
        align-items: center;
        justify-content: center;
        h1 {
          font-size: 20px;
          margin-top: 2rem;
        }
        h2 {
          font-size: 18px;
        }
        p {
          text-align: center;
          width: 100%;
          font-size: 14px;
        }
        button {
          width: 200px;
          font-size: 16px;
          padding: 1rem;
        }
      }
    }
    .home_courses {
      flex-direction: column;
      padding: 1rem;
      .col_1 {
        width: 100%;
        order: 2;
        h1 {
          margin-top: 1rem;
        }
        p {
          font-size: 14px;
          text-align: center;
        }
      }
      .col_2 {
        width: 100%;
        height: 200px;
        order: 1;
      }
    }
    .demat .content {
      h1 {
        font-size: 1rem;
      }
      .button {
        font-size: 0.8rem;
      }
    }
  }
}
