$h1_fs: 90px;
$h2_fs: 30px;
$normal_fs: 12px;
$medium_fs: 16px;


.container_home{

    .home_header{
        padding: 0;
        height: 230vh;

        .blurred_background{
            background-image: url("..//..//..//public//assets//images//home_sample_img_1.png");
            background-position: center;
            background-size: cover;
            filter: blur(2px);
            width: 100%;
            height: 150vh;
            
        }
        
        .subDiv_1{

            position: absolute;
            top: 150px;

            width: 100%;
            padding: 100px;
            background-color: transparent;

            h1{
                font-size: $h1_fs;
                font-weight: normal;
            }
            
            h2{
                font-size: $h2_fs;
            }

            .button{
                background-color: #daa520;
                border-radius: 10px;
                padding: 10px;
                font-weight: bold;
                font-size: $medium_fs;
            }

            *{
                margin-top: 20px;
                background-color: transparent;
            }
        }

        .subDiv_2{
            border: 2px solid white;
            margin: 50px;
            display: flex;

            transform: translate(0, -50%);

            .col_1{
                background-image: url("..//..//..//public//assets//images//home_sample_img_2.png");
                background-position: center;
                background-size: cover;

                display: flex;
                align-items: center;
                width: 50%;
                padding: 50px;
                border-right: 1px solid white;

                img{
                    width: 100%;
                    background-color: transparent;
                }
            }

            .col_2{
                width: 50%;
                border-left: 1px solid white;
                padding: 10px;

                display: grid;
                grid-template-columns: auto auto;
                column-gap: 10px;
                row-gap: 10px;

            }
        }
    }

    .home_courses{
        border: 1px solid white;
        display: flex;
        padding: 50px;


        *{
            background-color: transparent;
        }

        .col_1{
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            gap:10px;
            .button{
                background-color: #141416;
                border: 5px solid #daa520;
                color: #daa520;
                padding: 10px;
                width: 100px;
                font-weight: bold;
            }
        }

        .col_2{
            width: 50%;
            
        }

        
    }

    .demat{
        width: 100%;
        background-color: #daa520;
        display: flex;
        justify-content: center;
        // align-items: center;
        // gap:20px;
        padding: 50px;

        .content{
            background-color: #141416;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 20px;

            .button{
                margin: 30px 0 10px 0;
                background-color: #daa520;
                padding: 10px;
                border-radius: 10px;
                // font-weight: bold;
            }

            .hr{
                width: 20px;
                border: 1px solid #636363;
            }
        }
    }

    .testi{
        border: 1px solid white;
        width: 100%;
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .home_visions{
        padding: 50px;
        border: 1px solid white;
        display: flex;

        .col_1{
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 50px;

            p{
                width: 50%;
                text-align: center;
            }
        }
        
        .col_2{
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 30px;

            p{
                width: 60%;
            }

            button{
                // margin: 30px 0 10px 0;
                background-color: #daa520;
                padding: 10px;
                border-radius: 10px;
            }
        }
    }

    .home_blogs{
        border: 1px solid white;
        width: 100%;
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .home_about{
        padding: 50px;
        border: 1px solid white;
        display: flex;

        .col_1{
            width: 50%;
            padding: 50px 50px 50px 100px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 30px;

            p{
                width: 70%;
                text-align: left;
            }

            button{
                // margin: 30px 0 10px 0;
                width: 250px;
                border: 5px solid #daa520;
                color: #daa520;
                font-size: 20px;
                padding: 10px;
                border-radius: 10px;

                display: flex;
                justify-content: center;
                align-items: center;
            }

            
        }
        
        .col_2{
            width: 50%;
            display: flex;
            justify-content: center;
            
            img{
                width: 70%;
            }
        }
    }
}