.card {
  height: 400px;
  width: 400px;
  background: url('https://images.pexels.com/photos/57690/pexels-photo-57690.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  position: relative;
  padding: 1rem;
  color: white;
  text-transform: uppercase;
  transition: all 0.5s ease;
}
.card-title {
  position: absolute;
  bottom: 90px;
}
.hrLine {
  width: 90%;
  position: absolute;
  bottom: 70px;
  color: rgb(92, 92, 92);
}
.iconGroup {
  position: absolute;
  bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 90%;
}

.iconGroup > div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

@media (max-width: 900px) {
  .card {
    height: 300px;
    width: 300px;
  }
}
