// Extra large screens, TV          –> 1201px, and more
$extra_large: 1201px;
// Desktops, large screens          –> 1025px — 1200px
$large: 1200px;
// Small screens, laptops           –> 769px — 1024px
$small: 1024px;
// iPads, Tablets                   –> 481px — 768px
$tablets: 768px;
// Mobile devices                   –> 320px — 480px
$mobile: 480px;

// ---------- ---------- ----------

$cinzel: "Cinzel", serif;
$Varela_round: "Varela Round", sans-serif;

// ---------- ---------- ----------

// Extra large screens, TV          –> 1201px, and more

.courses_container {
  color: white;

  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;

    img {
      width: 100%;
    }

    .subDiv {
      width: 60%;
      background-color: #0e0e0f;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;
      padding: 100px;

      transform: translate(20%,-50%);

      .content {
        h1 {
          font-family: $cinzel;
          font-size: 60px;
          font-weight: 600;
          margin-bottom: 30px;
        }

        p {
          font-size: 20px;
          font-family: $Varela_round;
          line-height: 30px;
        }
      }
    }
  }

  .demat {
    width: 100%;
    background-color: #daa520;
    display: flex;
    justify-content: center;
    padding: 50px;

    .content {
      width: 95%;
      background-color: #141416;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 20px;

      h1{
        text-align: center;
        font-size: 40px;
      }

      .button {
        margin: 30px 0 10px 0;
        background-color: #daa520;
        padding: 10px;
        border-radius: 10px;
        font-size: 18px;
        font-weight: bold;
        font-family: $Varela_round;
      }

      .hr {
        width: 20px;
        border: 1px solid #636363;
      }
    }
  }

  .courses {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    gap: 20px;
  }
}

// ---------- ---------- ----------

// Desktops, large screens          –> 1025px — 1200px

@media (max-width: $large) {
  .courses_container {
    .header {
      .subDiv {
        width: 80%;
        gap: 10px;
        padding: 100px;
        transform: translateY(-50%);
      }
    }

    .courses{
      padding: 30px;
    }
  }
}

// ---------- ---------- ----------
// Small screens, laptops           –> 769px — 1024px

@media (max-width: $small) {
  .courses_container {
    .header {
      .subDiv {
        width: 80%;
        gap: 10px;
        padding: 100px;
        transform: translateY(-50%);
      }
    }

    .courses{
      flex-direction: row;
      align-items: baseline;
      // padding: 30px;
    }
  }
}

// ---------- ---------- ----------

// iPads, Tablets                   –> 481px — 768px

@media (max-width: $tablets) {
  .courses_container {
    color: white;

    .header {
      img {
        display: none;
      }

      .subDiv {
        width: 100%;
        transform: translate(0, 0);

        .content {
          h1 {
            text-align: center;
            font-size: 40px;
          }

          p {
            font-size: 18px;
          }
        }
      }
    }

    .demat {
      .content {
        h1 {
          text-align: center;
          font-size: 30px;
        }

        .button {
          font-size: 18px;
        }
      }
    }

    .courses {
      flex-direction: column;
      padding: 50px;
      gap: 30px;
    }
  }
}
